{% extends "videojuego/bootstrap.html" %}

{% load static %}

{% block content %}
<div class="list-categoria mt-2">
  <div class="list-header row">
    <h1 class="col-9">Lista de Categorias</h1>
    <div class="col-3 d-flex justify-content-between">
      <a href="{% url 'gameblog-actions' %}" class="btn btn-secondary">Volver</a>
      <a href="{% url 'gameblog-create-categoria' %}" class="btn btn-primary">Crear Categoria</a>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for categoria in page_categoria %}
      <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombre }}</td>
        <td class="row d-flex justify-content-between">
          <a href="{% url 'gameblog-update-categoria' categoria.id %}" class="btn btn-warning no-padding col-3"><i
              class="bi bi-pencil"></i></a>
          <a href="{% url 'gameblog-delete-categoria' categoria.id %}" class="btn btn-danger no-padding col-3">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% block pagination %}
  <center>
    {% if page_categoria.has_previous %}
    <a class="btn btn-primary" href="{% url 'gameblog-list-categoria' page_categoria.previous_page_number %}">
      Previous Page
    </a>
    {% endif%}
    {% if page_categoria.has_next %}
    <a class="btn btn-primary" href="{% url 'gameblog-list-categoria' page_categoria.next_page_number %}">
      Next Page
    </a>
    {% endif%}
  </center>
  {% endblock %}
</div>

{% endblock %}