{% extends "videojuego/bootstrap.html" %}

{% load static %}

{% block content %}
<div class="list-plataforma mt-2">
  <div class="list-header row">
    <h1 class="col-9">Lista de Plataformas</h1>
    <div class="col-3 d-flex justify-content-between">
      <a href="{% url 'gameblog-actions' %}" class="btn btn-secondary">Volver</a>
      <a href="{% url 'gameblog-create-plataforma' %}" class="btn btn-primary">Crear Plataforma</a>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Lanzamiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for plataforma in page_plataforma %}
      <tr>
        <td>{{ plataforma.id }}</td>
        <td>{{ plataforma.nombre }}</td>
        <td>{{ plataforma.fecha_lanzamiento}}</td>
        <td class="row d-flex justify-content-between">
          <a href="{% url 'gameblog-update-plataforma' plataforma.id %}" class="btn btn-warning no-padding col-3"><i
              class="bi bi-pencil"></i></a>
          <a href="{% url 'gameblog-delete-plataforma' plataforma.id %}" class="btn btn-danger no-padding col-3">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% block pagination %}
  <center>
    {% if page_plataforma.has_previous %}
    <a class="btn btn-primary" href="{% url 'gameblog-list-plataforma' page_plataforma.previous_page_number %}">
      Previous Page
    </a>
    {% endif%}
    {% if page_plataforma.has_next %}
    <a class="btn btn-primary" href="{% url 'gameblog-list-plataforma' page_plataforma.next_page_number %}">
      Next Page
    </a>
    {% endif%}
  </center>
  {% endblock %}
</div>

{% endblock %}