{% extends "videojuego/bootstrap.html" %}

{% load static %}

{% block content %}
<div class="profile">
    {% if user %}
    <div class="card my-4 mb-5">
        <div class="card-body">
            <div class="card-title">
                <h1>Mi perfil</h1>
            </div>
            <h6 class="card-title mb-2 text-muted"> {{ user.last_name }}, {{ user.first_name }} </h6>
            <h6 class="card-title mb-2 text-mute">E-Mail : {{ user.email }}</h6>
        </div>
    </div>
    {% endif %}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card-title">
                <h1>Editar</h1>
            </div>
            <form action="" method="post" class="mt-5 crud-form">
                {% csrf_token %}
                {{form.as_p}}
                <input a class="btn btn-primary" type="submit" value="Enviar">
                <a href="{% url 'gameblog-change-password' %}" class="btn btn-secondary">Cambiar contraseña</a>
            </form>
            {% if errors %}
            <p class="error">Error: {{errors}}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}