{% extends "videojuego/bootstrap.html" %}

{% load static %}

{% block content %}
<div class="busqueda mt-5 col-6 mx-auto">
  <div class="card mb-3">
    <img src="{{ post.imagen_url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ post.titulo }}</h5>
      <h6 class="card-subtitle mt-2 text-muted"> <span class="text-muted"> Categoria: </span>{{ post.categoria.nombre }}</h6>
      <h6 class="card-subtitle mt-2 text-muted"><span class="text-muted">Autor: </span>{{ post.autor.user.username }}</h6>
      <p class="card-text mt-5">{{ post.contenido }}</p>
    </div>
  </div>
</div>

{% endblock %}